// Default settings for the slider component.

.body {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
  .wrapper {
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    object-fit: cover;
  }
}
