.wrapper {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  .filters {
    background-color: green;
    width: 25%;
    height: 200px;
  }

  .main {
    width: 70%;
  }
}

.listingWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  //   grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}
