.wrapper {
  padding-top: 100px;
  .card {
    width: 100%;
    background-color: #fff;
    border-radius: 28px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(202, 201, 251, 0.8);
    -moz-box-shadow: 0px 10px 30px 0px rgba(202, 201, 251, 0.8);
    box-shadow: 0px 10px 30px 0px rgba(202, 201, 251, 0.8);
    padding: 16px;
    padding-bottom: 24px;
    max-width: 600px;
    min-width: 288px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    .avaCon {
      height: 110px;
      width: 110px;
      border-radius: 100%;
      background-color: #fff;
      -webkit-box-shadow: 0px 5px 30px 0px rgba(202, 201, 251, 0.5);
      -moz-box-shadow: 0px 5px 30px 0px rgba(202, 201, 251, 0.5);
      box-shadow: 0px 5px 30px 0px rgba(202, 201, 251, 0.5);
      margin-top: -64px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .listingsCon {
    margin-top: 52px;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }
}

.viewProfileBtn {
  background-color: #4285f4;
  color: #fff;
  padding: 8px 24px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;

  &:hover {
    background-color: lighten(#4285f4, 5%);
  }
  &:active {
    transform: translateY(2px);
  }
}
