.wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin-top: 12px;

  .activeTabCon {
    padding: 10px 12px;
    border: 1px solid #4285f4;
    border-radius: 20px;
    font-size: 15px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    flex-wrap: nowrap;
    white-space: nowrap;
    background-color: #4285f4;
    font-weight: bold;
    color: #fff;
  }

  .tabCon {
    padding: 10px 12px;
    border: 1px solid #4285f4;
    border-radius: 20px;
    background-color: #fff;
    color: #4285f4;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    flex-wrap: nowrap;
    white-space: nowrap;

    &:hover,
    &:focus-visible {
      background-color: #4285f4;
      color: #fff;
    }
  }
}
