.wrapper {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
}

.wrapperActive {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-color: #fff;

  -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}

.navbarInner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .loginBtn {
    cursor: pointer;
    font-size: 16px;
  }
}

.logo {
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  aspect-ratio: 1;
  object-fit: contain;
}
